.nav_bar{
    text-align: right;
 
    word-spacing:5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#img_google{
    margin: auto;
    background-size: 270px;
    width:272px;
    height:92px;
    margin-top: 50px;
    background-image: url('logo.png');
    background-repeat: no-repeat;

}
.search{
    display:block;    
    margin: 173px;
}
.search_bar{
    margin:auto;
    width:448px;   
    z-index:2;
    height:34px;
    max-width:448px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

form{
     display:inline-block;
    
  
}   
input{
     width: 375px;
     height:34px;
     border: solid 0px rgb(255, 255, 255);
     border-radius: 6px;
     margin-left:3px;
     position: fixed;
}

.icon{
    position: relative;
    top:1px;
    height:30;
    z-index: 8;
    left:400px;
    padding-top: 0px; 
}
#talk{
    height:55px;
}