.nav_bar{
    text-align: right;
    word-spacing:5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding-top: 13px;
    padding-right:16px;
}
.nav_bar a{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    
}
a:hover {
    text-decoration: underline;
}
.apps{
    position:relative;
    height:15px;
    padding-left: 5px;
    opacity: .6;
}
.apps:hover{
    opacity:1;
}
.user_icon{
    position:relative;
    top:8px;
    border-radius: 100%;
    margin-left: 15px;

}

#img_google{
    margin: auto;
    background-size: 270px;
    width:272px;
    height:92px;
    margin-top: 50px;
    background-image: url('logo.png');
    background-repeat: no-repeat;

}
.search{
    display:block;    
    margin: 173px;
 
}
.search_bar{
    margin:auto;
    width:448px;   
    z-index:2;
    height:34px;
    max-width:448px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

form{
     display:inline-block;
}   
input{
     width: 375px;
     height:34px;
     border: solid 0px rgb(255, 255, 255);
     border-radius: 6px;
     margin-left:3px;
     position: relative;
     top:-4px;
}

.icon{
    position: relative;
    top:2px;
    height:25;
    z-index: 8;
    left:39px;
    padding-top: 0px; 
}
#talk{
    height:55px;
}
.buttons{
    margin: 10px auto;
    width:230px;
    height:92px;
    text-align: center;
    padding-top: 18px;
}
#bl{

    position: relative;
    width: 110px;    
    float: right;
    border-radius: 0px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
#br{
   
    position: relative;
    width: 110px;
    border-radius: 0px;   
    background-color: #f2f2f2;  
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold; 
}
footer{
    position: absolute;
    height: 100px;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
.country{
    margin-left: 2rem;
    margin-top:10px;
    margin-bottom: 20px;
    color: rgba(0,0,0,.54);
    
}
.option{
    border-top: 1px solid #e4e4e4;
    padding-top:2rem;
}

.option a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
    margin:2rem;
}

